 .card-container{
    padding: 2rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 18rem);
    gap: 1rem;
 }
.card-img-top{
    height: 12rem;
}

.list-option > li{
    padding: .2rem 1rem;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 0, 129, 0.107);
    }
}